{% extends "ledger/base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block page_heading %}Recipe Detail{% endblock %}

{% block content %}
  <p><strong>Recipe:</strong> {{ recipe.name }}</p>
  <p><strong>Author:</strong> {{ recipe.author.name }}</p>
  <ul>
    {% for ingredient in recipe.ingredients.all %}
      <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'recipe_image_add' recipe.pk %}">Add Image</a></p>

  <h3>Images</h3>
  <ul>
    {% for image in recipe.images.all %}
      <li>
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% if image.description %}
          <p>{{ image.description }}</p>
        {% endif %}
      </li>
    {% empty %}
      <li>No images uploaded yet.</li>
    {% endfor %}
  </ul>

  <p><a href="{% url 'recipes_list' %}">Back to recipe list</a></p>
{% endblock %}
