{% extends "ledger/base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block page_heading %}Recipe Detail{% endblock %}

{% block content %}
  <p><strong>Recipe:</strong> {{ recipe.name }}</p>
  <p><strong>Author:</strong> {{ recipe.author.name }}</p>
  <ul>
    {% for ingredient in recipe.ingredients.all %}
      <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'recipes_list' %}">Back to recipe list</a></p>
{% endblock %}
